@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    list-style: none;
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: #444 #222;
    color: #fff;
}
/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
  background: #1f273c;
}

*::-webkit-scrollbar-thumb {
  background-color: #666;
}

body {
    background-color: #171e30;
    display: flex;
    flex-direction: column;
}

/* ===== HEADER Navbar ===== */
.navbar {
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(111, 141, 216, 0.1);
}

.logo {
    position: relative;
    width: 160px;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
    font-size: 1.3em;
}

.navbar .nav-links ul li a {
    --b: 0.1em;   /* the thickness of the line */
    --c: #0048ff; /* the color */
    
    color: #0000;
    padding-block: var(--b);
    background:
        linear-gradient(var(--c) 50%,#fff 0) 0% calc(100% - var(--_p,0%))/100% 200%,
        linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: .2s var(--_s,0s) linear,background-size .2s calc(.2s - var(--_s,0s));
}

.navbar .nav-links ul li a:hover {
    --_p: 100%;
    --_s: .2s;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    width: 62px;
}

/* ===== Slider ===== */
.slider {
    margin: 100px auto;
    padding: 60px;
    width: 95vh;
}

/* ===== Container ===== */
.container {
    width: 40%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .container_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .container_1 img {
    width: 130px;
    border-radius: 7px;
}
.container .container_1 p {
    width: 400px;
    font-size: 20px;
}

.container .container_2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.container .container_2 img {
    width: 230px;
    border-radius: 7px;
}
.container .container_2 p {
    width: 300px;
    font-size: 20px;
}

.container .container_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.container .container_3 img {
    width: 130px;
    border-radius: 7px;
}
.container .container_3 p {
    width: 300px;
    font-size: 20px;
}

.container .container_4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.container .container_4 img {
    width: 130px;
    border-radius: 7px;
}
.container .container_4 p {
    width: 300px;
    font-size: 20px;
}

.container .container_5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 300px;
}
.container .container_5 img {
    width: 130px;
    border-radius: 7px;
}
.container .container_5 p {
    width: 300px;
    font-size: 20px;
}

/* ===== Footer ===== */
footer {
    padding: 10px;
    background-color: #1f273c;
}

footer .footer-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-download {
    background-color: #4CAF50;
    border: none;
    padding: 10px 24px;
    margin: 15px;
    margin-bottom: 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px; 
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); /* ajouter une ombre */
}

/* ===== VERSION RESPONSIVE ===== */
@media screen and (max-width: 700px) {
    /* ===== Pour le header navbar ===== */
    .navbar {
        padding: 0;
        z-index: 999;
    }

    .logo img{
        width: 160px;
        position: relative;
    }

    .navbar .menu-hamburger {
        display: block;
        position: relative;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: #171e30;
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        margin-top: 15vh;
        transition: all 0.3s ease;
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.7em;
    }

    /* ===== Container ===== */
    .container {
        align-items: center;
    }

    .container .container_1 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    
    .container .container_2 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }
    
    .container .container_3 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }
    
    .container .container_4 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }
    
    .container .container_5 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 300px;
    }
}
